@{
    ViewData["Title"] = "Game page";
}

<div>
    <img src="~/img/map.webp" />

    <div></div>
    @for (int i = 0; i < 50; i++)
    {
    <div class="thing"></div>
        
    }

</div>

<style>
    .thing {
        border: 1px solid red;
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
