@{
    ViewData["Title"] = "Game page";
    
}

<div class="whole-thing">
    <div class="area-left"></div>
    <div class="map-container" >
        <img class="map" src="~/img/map.webp" />
        @*<div class="station"></div>*@
    </div>
    <div class="area-right">
        <button class="route">make route</button>
    </div>

@*    @for (int i = 0; i < 50; i++)
    {
        <div class="thing" style=""></div>
        
    }*@

</div>

<style>

</style>
