html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;//og*/
}



.whole-thing {
    display: flex;
    flex-direction: row;
}

.whole-thing > div {
    height: 100vh;
}

.map-top {
    height:6%
}

.map-container {
    /*flex: 1 1 auto;*/
    background-color: blue;
    /*width: 64%;*/
    /*margin-top:60px;*/
    position: relative;
    cursor: crosshair
}

.area-left, .area-right {
    background-color: indianred;
    width:18%
}

.area-centre {
    background-color: deepskyblue;
    width: 64%
}

.map {
    width: 100%;
    cursor:crosshair
}

.thing {
    border: 1px solid red;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
}

.node {
    height: 1px;
    width: 1px;
    border-radius: 16px;
    position: absolute;
    animation: hilite 1s infinite;
    /*    left: 262px;
    top: 678px;*/
}

@keyframes hilite {
    0% {
        background-color: white;
    }

    50% {
        background-color: black;
    }

    100% {
        background-color: white;
    }
}

.node-content {
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius:10px
}
