html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;//og*/
}



.whole-thing {
    display: flex;
    flex-direction: row;
}

.whole-thing > div {
    height: 100vh;
}

.map-container {
    /*flex: 1 1 auto;*/
    background-color: blue;
    width: 64%;
    /*margin-top:60px;*/
    position:relative;
}

.area-left, .area-right {
    background-color: red;
    width:18%
}

.map {
    width: 100%;
    cursor:crosshair
}

.thing {
    border: 1px solid red;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
}

.station {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background-color: green;
    position: absolute;
/*    left: 262px;
    top: 678px;*/
}